{% for job_name, team_name, before_xml, after_xml, difflines, changetype in obj.job_details %}
---
- job:
   name: {{ job_name }}
   team: {{ team_name }}
   before_xml: {{ before_xml }}
   after_xml:  {{ after_xml }}
   diff: {{ difflines }}
   change_type: {{ changetype }}
{% endfor -%}